[Unit]
Description=ArcRADIUS Server
After=network.target

[Service]
WorkingDirectory=/etc/arc-radius
ExecStart=/usr/share/arc-radius/env/bin/python3 /etc/arc-radius/RADIUS_server.py
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
