Package: arc-radius
Version: 1.1
Architecture: all
Maintainer: Aleks Marinič <alex.marinic22@gmail.com>
Description: ArcRADIUS is a radius provider service to authenticate users
File: etc/arc-radius/*
