{% extends 'admin/master.html' %}

{% block body %}
<div class="">
    <div class="row">
        <div class="col-md-12">
            <h1>Edit Address</h1>
        </div>
        <div class="col-md-12 col-lg-6">
            <form action="{{ url_for('addressedit.index') }}" method="post">
                <textarea name="address" rows="20" cols="50" class="form-control" style="font-family: 'Courier New', Courier, monospace;">{{ address }}</textarea><br>
                <input type="submit" value="Save" class="btn btn-primary">
            </form>
        </div>
        <div class="col-md-12 col-lg-6">
            <h2>Add a new client entry</h2>
            <ol>
                <li>The client name must be unique.</li>
                <li>The client configuration follows the YAML structure outlined below:</li>
            </ol>
            <pre>
client_name:
  type_net: [subnet | ip]
  IP: [IP_address | subnet_mask]
  name: [descriptive_name]
  secret: [shared_secret]
</pre>
            <ul>
                <li><code>client_name</code>: The unique name/key of the client.</li>
                <li><code>type_net</code>: Specifies the type of network (subnet or IP).</li>
                <li><code>IP</code>: Specifies the client's IP address or subnet.</li>
                <li><code>name</code>: A descriptive name for the client.</li>
                <li><code>secret</code>: The shared secret used for authentication.</li>
            </ul>

            <p>After changes you must restart the ArcRADIUS Server with: <br /><code>sudo systemctl restart arc-radius.service</code></p>
        </div>
    </div>
</div>
{% endblock %}