{% extends 'admin/master.html' %}

{% block body %}
<div class="">
    <div class="row">
        <div class="col-md-12 ">
            <img src="{{ url_for('static', filename='images/Logo.png') }}" alt="" class="img-fluid mx-auto d-block" style="max-width: 100%; width: 256px;">
        </div>  
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome!</h1>
            <p>ArcRADIUS is a simple RADIUS server providing authentication and OTP (One-Time Password) options for secure access and remote control.</p>
            <p>The name "ArcRADIUS" stands for <strong>Access and Remote Control RADIUS</strong>. It emphasizes the service's focus on providing secure access and control over remote resources.</p>
            <p>Key features of ArcRADIUS include:</p>
            <ul>
                <li>Centralized authentication for network access</li>
                <li>Support for One-Time Passwords (OTP) for enhanced security</li>
                <li>Easy integration with existing systems</li>
                <li>Scalability to handle large numbers of users</li>
                <li>Configurable access control policies</li>
            </ul>
            <p>Whether you need to secure network access for your organization or provide remote access to resources, ArcRADIUS has you covered.</p>
            <p>Get started with ArcRADIUS today and experience secure, reliable authentication and access control.</p>
        
            <hr>
        
            <h2>Configuration Guide</h2>
            <p><strong>Before configuring ArcRADIUS, make sure to disable FreeRadius:</strong></p>
            <pre>
sudo systemctl stop freeradius.service
sudo systemctl disable freeradius.service</pre>
            <p><strong>Follow these steps to configure ArcRADIUS:</strong></p>
            <ol>
                <li>Configure Client Address in the <b>RADIUS Clients</b> tab. The instructions for adding a new client are available on that page. Make sure to save the changes. <br /><i>An empty clients configuration isn't allowed and the main service will shut down.</i></li>
                <li>Make a user account for the RADIUS client in the <b>Accounts</b> and then <b>User Accoutns</b> tab.</li>
                <li>You can get the user's OTP QR code by clicking the <b>Show QR code</b> button.</li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}